<section class="py-10 px-4 text-center">
    <div class="max-w-3xl mx-auto mb-10">
      <h2 class="text-3xl font-bold">Servicios</h2>
      <p class="text-lg text-gray-600 mt-2">
        Desde nuestra fundación, nos hemos comprometido a ofrecer servicios de calidad a empresas del sector privado y entidades estatales, siempre bajo los más altos estándares de excelencia que nos distinguen.
      </p>
    </div>
  
    <!-- Contenedor responsivo -->
    <div class="flex gap-4 overflow-x-auto snap-x snap-mandatory">
      <!-- Card 1 -->
      <div class="flex-shrink-0 bg-gray-100 p-6 rounded-xl text-center shadow-md snap-center w-[85%] md:w-[19.2%]">
        <ng-icon name="heroDocumentTextSolid" class="text-6xl text-gray-700 mx-auto mb-4"></ng-icon>
        <h3 class="text-sm md:text-xl font-semibold truncate">Auditoría</h3>
      </div>
  
      <!-- Card 2 -->
      <div class="flex-shrink-0 bg-gray-100 p-6 rounded-xl text-center shadow-md snap-center w-[85%] md:w-[19.2%]">
        <ng-icon name="heroCalculatorSolid" class="text-6xl text-gray-700 mx-auto mb-4"></ng-icon>
        <h3 class="text-sm md:text-xl font-semibold truncate">Servicios Especiales</h3>
      </div>
  
      <!-- Card 3 -->
      <div class="flex-shrink-0 bg-gray-100 p-6 rounded-xl text-center shadow-md snap-center w-[85%] md:w-[19.2%]">
        <ng-icon name="heroCurrencyDollarSolid" class="text-6xl text-gray-700 mx-auto mb-4"></ng-icon>
        <h3 class="text-sm md:text-xl font-semibold truncate">Impuestos</h3>
      </div>
  
      <!-- Card 4 -->
      <div class="flex-shrink-0 bg-gray-100 p-6 rounded-xl text-center shadow-md snap-center w-[85%] md:w-[19.2%]">
        <ng-icon name="heroChartBarSolid" class="text-6xl text-gray-700 mx-auto mb-4"></ng-icon>
        <h3 class="text-sm md:text-xl font-semibold truncate">Outsourcing</h3>
      </div>
  
      <!-- Card 5 -->
      <div class="flex-shrink-0 bg-gray-100 p-6 rounded-xl text-center shadow-md snap-center w-[85%] md:w-[19.2%]">
        <ng-icon name="heroScaleSolid" class="text-6xl text-gray-700 mx-auto mb-4"></ng-icon>
        <h3 class="text-sm md:text-xl font-semibold truncate">Consultoría Legal</h3>
      </div>
    </div>
  </section>
