<section>
    <div class="text-center ">
      <!-- Imagen grupal -->
      <img src="assets/images/image 7.png" alt="Imagen grupal" class="w-full h-[300px] object-cover">
  
      <div class="relative flex flex-col md:flex-row justify-center gap-8 px-4 md:px-16 lg:px-40 xl:px-60 bg-gradient-to-r from-[#160D64] to-[#2874FB] shadow text-white py-10">
        <div class="absolute inset-0">
            <img src="/assets/images/Image BG.png
            "alt="Imagen de fondo" class="w-full h-full object-cover opacity-30">
        </div>
        <!-- Misión -->
        <div class="relative z-10">
            <h2 class="text-3xl font-bold mt-6 mb-2">Misión</h2>
            <p class="text-base md:text-lg leading-relaxed">
                Ser una firma reconocida en el mercado peruano por la excelencia de nuestros servicios y nuestro compromiso con los clientes, promoviendo la confianza y la integridad.
            </p>
        </div>
        
        <!-- Visión -->
        <div class="relative z-10">
            <h2 class="text-3xl font-bold mt-6 mb-2">Visión</h2>
            <p class="text-base md:text-lg leading-relaxed">
                Nos comprometemos a generar valor para nuestros clientes a través de soluciones transparentes y eficientes, fortaleciendo la fiabilidad en sus procesos financieros con un equipo altamente capacitado y dedicado, buscamos contribuir al crecimiento sostenible de nuestros clientes.
            </p>
        </div>
      </div>

      <div class="py-10 px-4 bg-white text-black">
        <div class="text-center mb-8">
          <h2 class="text-3xl font-bold mb-8">Valores</h2>
          
            <div class="flex flex-row">
                <div class="basis-1/4 ">
                    
                </div>
                <div class="basis-1/2 ">
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-6 gap-x-8">
            
                        <div class="flex items-center justify-start">
                            <ng-icon name="heroCheckCircleSolid" class="text-4xl text-black mr-4"></ng-icon>
                            <p class="text-lg text-left truncate">Integridad</p>
                          </div>
                          
                        
                          <div class="flex items-center justify-start">
                            <ng-icon name="heroCheckCircleSolid" class="text-4xl text-black mr-4"></ng-icon>
                            <p class="text-lg text-left truncate">Ética</p>
                          </div>
                          
                        
                          <div class="flex items-center justify-start">
                            <ng-icon name="heroCheckCircleSolid" class="text-4xl text-black mr-4"></ng-icon>
                            <p class="text-lg text-left truncate">Liderazgo</p>
                          </div>
                          
                        
                          <div class="flex items-center justify-start">
                            <ng-icon name="heroCheckCircleSolid" class="text-4xl text-black mr-4"></ng-icon>
                            <p class="text-lg text-left truncate">Respeto</p>
                          </div>
                          
                          
                          <div class="flex items-center justify-start">
                            <ng-icon name="heroCheckCircleSolid" class="text-4xl text-black mr-4"></ng-icon>
                            <p class="text-lg text-left truncate">Transparencia</p>
                          </div>
                          
                          
                          <div class="flex items-center justify-start">
                            <ng-icon name="heroCheckCircleSolid" class="text-4xl text-black mr-4"></ng-icon>
                            <p class="text-lg text-left truncate">Profesionalismo</p>
                          </div>
      
                    </div>
                </div>
                <div class="basis-1/4 ">
                    
                </div>
            </div>

        </div>
      </div>
    </div>
  </section>



  
